body.light-mode .navbar {
  background-color: #f7f8f9;
  color: #000000;
}
body.light-mode .navbar a {
  color: #212529;
}

body.dark-mode .navbar {
  background-color: #1d2125;
  color: #ffffff;
}
body.dark-mode .navbar a {
  color: #ffffff;
}
body.dark-mode .navbar-nav svg {
  color: #ffffff;
}
body.dark-mode .navbar-nav svg:hover {
  color: #ffc952;
}

.navbar-brand {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar-nav {
  .nav-item {
    letter-spacing: 1px;
    margin-left: 20px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
  }

  .nav-item:hover {
    color: #ffc952 !important;
  }

  a {
    color: #212529 !important;
    display: inline;
    font-size: 1rem;
  }

  a:hover {
    color: #ffc952 !important;
  }

  svg {
    font-size: 2em;
    margin: 0px 10px;
  }
}
