@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.App {
  margin-right: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased !important;
}

.container {
  max-width: 1200px !important;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;

  a {
    color: #0c66e4;
  }
}

body.dark-mode {
  background-color: #161a1d;
  color: #ffffff;

  a {
    color: #579dff;
  }
}

.react-toggle-track-check,
.react-toggle-track-x {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  height: 100% !important;
}
