@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.App {
  margin-right: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased !important;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode {
  background-color: #161a1d;
  color: #ffffff;
}
