.acknowledgements {
  justify-content: center;

  .row {
    justify-content: center;
  }

  h1 {
    text-align: center;
  }

  .nav-link {
    padding: 0;
  }
}

body.dark-mode .acknowledgements {
  background-color: #161a1d;
  color: #ffffff;

  .card {
    background-color: #1d2125;
    color: #ffffff;
  }
}
