.table {
  padding-top: 1rem;

  .row {
    justify-content: center;
  }

  thead > tr:first-child {
    display: none;
  }

  .nav-link {
    padding: 0;
  }

  .easy {
    background-color: #5cb85c;
  }

  .medium {
    background-color: #f0ad4e;
  }

  .hard {
    background-color: #d9534f;
  }

  .companies {
    justify-content: space-evenly;
    margin: 0;
  }
}
