body.light-mode .table {
  background-color: #ffffff;
  color: #000000;
}
body.light-mode .table thead > tr th {
  background-color: #ffffff;
}
body.light-mode .pattern-count {
  background-color: #ffffff;
  color: #000000;
}
body.light-mode .table tr:nth-child(odd) {
  background-color: #f1f2f4;
}
body.light-mode .table tr:nth-child(even) {
  background-color: #ffffff;
}
body.light-mode .table tbody tr:hover {
  background-color: #dcdfe4;
  color: #000000;
}

body.dark-mode .table {
  background-color: #161a1d;
  color: #ffffff;
}
body.dark-mode .table thead > tr th {
  background-color: #161a1d;
}
body.dark-mode .pattern-count {
  background-color: #161a1d;
  color: #ffffff;
}
body.dark-mode .table tr:nth-child(odd) {
  background-color: #22272b;
}
body.dark-mode .table tr:nth-child(even) {
  background-color: #161a1d;
}
body.dark-mode .table tbody tr:hover {
  background-color: #101214;
  color: #ffffff;
}
body.dark-mode .modal-content {
  background-color: #1d2125;
  color: #ffffff;
  .close {
    color: #ffffff;
  }
}

.table {
  .row {
    justify-content: center;
  }

  thead {
    > tr:first-child {
      display: none;
    }

    > tr th {
      background: white;
      position: sticky;
      top: 0;
      text-wrap: nowrap;
    }
  }

  .nav-link {
    padding: 0;
  }

  #difficultyProgress {
    margin-bottom: 25px;
    font-size: 11.5px;
  }

  #difficultyProgress > div:nth-child(n + 2) {
    margin-top: 12px;
  }

  .progress-pie {
    height: 75px;
  }

  .progress-bar-sm {
    height: 5px;
  }

  .easy {
    background-color: #5cb85c;
  }

  .medium {
    background-color: #f0ad4e;
  }

  .hard {
    background-color: #d9534f;
  }

  .companies,
  .patterns {
    justify-content: space-evenly;
    margin: 0;
  }

  .companies img {
    padding: 5px;
  }

  .react-toggle {
    top: 7px;
  }

  .reset-button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.7rem;
  }
  .lastSolvedOn {
    text-wrap: nowrap;
  }
}
